


/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER	
#MENU 
#FEATURED SLIDER 
#ABOUT US
#EXPERIENCE
#EDUCATION
#RESUME
#CONTACT
#FOOTER
#RESPONSIVE STYLE
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

body,
html {
	overflow-x:hidden;
}

body {
	font-family: 'Josefin sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 0;
}


h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: #fff;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}

/*Wordpress default class*/

.alignleft {
	float:left;
	margin-right:8px;
}

.aligncenter {
	display:block;
	margin:10px auto;
}

.alignright {
	float:right;
	margin-left:8px;
}		

.alignnone {
	max-width: 100%;
}

.wp-caption-text {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

/* ========= BUTTON =========*/

.mu-primary-btn {
	background-color: transparent;
	border-radius: 4px;
	border: 2px solid #ffffff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.5px;
	padding: 12px 35px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-primary-btn:hover,
.mu-primary-btn:focus {
	background-color: #fff;
}

.mu-send-msg-btn {
	border-radius: 4px;
	border: 1px solid #888;
	background-color: transparent;
	color: #555;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	padding: 14px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 130px;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus {
	background-color: #fff;
}



/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-header {
	display: inline;
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 25px 0;
	z-index: 999;
	transition: all 0.5s;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
	color: #fff;
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
	margin-top: 0;
	width: 120px;
	line-height: 18px;
}

.navbar-brand img {
	margin-top: -7px;
}

#mu-header.mu-fixed-nav {
	width: 100%;
	position: fixed;
	padding: 15px 0;
}


/*--------------------*/
/* MENU */
/*--------------------*/

.mu-navbar {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-bottom: 0;

}

.mu-menu {
	margin-top: 4px;
}

.navbar-default .mu-menu li a {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	padding: 0;
	margin: 10px 15px;
	transition: all 0.5s;
	position: relative;
}

.navbar-default .mu-menu li a::after {
	background-color: #fff;
	content: '';
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: -5px;
	left: 0;
	transform: scale(0);
	transition: all 0.5s;
}

.navbar-default .mu-menu li a:hover,
.navbar-default .mu-menu li a:focus,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #fff;
}

.navbar-default .mu-menu li a:hover::after,
.navbar-default .mu-menu li a:focus::after,
.navbar-default .navbar-nav > .active > a:focus::after, 
.navbar-default .navbar-nav > .active > a:hover::after {
	transform: scale(1);
}


/*--------------------*/
/* FEATURED SLIDER */
/*--------------------*/

#mu-featured-slider {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	display: inline;
	float: left;
	width: 100%;
}


.mu-featured-area {
	display: inline;
	float: left;
	width: 100%;
	padding: 28% 10%;
	text-align: center;
}

.mu-featured-area h1 {
	font-size: 60px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 1;
}

.mu-featured-slider-wrapper {
	display: inline;
	float: left;
	width: 100%;
}

.mu-featured-slider {
	display: inline;
	float: left;
	width: 100%;
}

.mu-featured-slider p,
#typed {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
}

.mu-featured-slider span,
#typed span,
.typed-cursor {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
}

.mu-featured-content {
	margin-top: 15px;
	display: inline;
	float: left;
	width: 100%;
}

.mu-featured-content p{
	color: #fff;
}

.mu-featured-content a{
	margin-top: 35px;
}


/*--------------------*/
/* ABOUT ME */
/*--------------------*/


#mu-about {
	background-color: #f7f7f7;
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-about-header {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-about-content {
	background-color: #fff;
	display: inline;
	float: left;
	margin-top: 70px;
	padding: 20px;
	width: 100%;
}

.mu-about-content-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-content-right {
	display: inline;
	float: left;
	margin-top: 20px;
	width: 100%;
}

.mu-skill-progress-bar {
	display: inline;
	float: left;
	width: 100%;
}

.mu-skill-progress-bar h3 {
	margin-top: 20px;
}

.mu-skill-progress-bar>span {
	display: block;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 700;
	color: #444;
}

.mu-skill-progress-bar .mu-pro-bar {
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

.mu-pro-percentage {
	display: inline-block;
	padding: 5px 0;
	color: #fff;
}

.mu-pro-bar .progressbar {
	position: relative;
}

.mu-pro-bar .proggress {
	height: 24px !important;
	width: 10px;
}

.mu-pro-bar .percentCount {
	position: absolute;
	top: 0;
	left: 48%;
	color: #fff;
}

.mu-social-media{
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media h3 {
	margin-top: 20px;
}

.mu-social-media a {
	border-radius: 50%;
	display: inline-block;
	font-size: 15px;
	border: 1px solid #333;
	width: 35px;
	height: 35px;
	line-height: 32px;
	text-align: center;
	margin: 5px 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	
}

.mu-profile-img {
	margin-top: 5rem;
}


/*--------------------*/
/* EXPERIENCE */
/*--------------------*/

#mu-service {
	display: inline;
	float: left;
	width: 100%;
}

.mu-service-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-service-header {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-top:15px;
	margin-bottom: 25px;
	position: relative;
}

.mu-service-content{
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
}

.experience {
    padding: 80px 0 100px;
    border-top: 1px solid #e5ebf2;
}
.experience-content {padding-top: 100px;}
.single-timeline-box {margin-bottom: 75px;}

/*experience-time*/
.experience-time {
    position: relative;
}
.experience-time h2 {
    font-weight: 400;
}
.experience-time h3 {
    font-size: 16px;
    font-weight: 300;
    color: #636a82;
    margin-top: 14px;
    text-transform: uppercase;
}
/*experience-time*/

/*main-timeline*/
.main-timeline{
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 2px;
    height: 84%;
    background: #b2c1ce;
    position: absolute;
    top: 1.5%;
    left: 45.8%;
    z-index: -1;
}
.main-timeline .timeline{
    position: relative;
}

.timeline-content span>i, .experience-time span>i {
    color: #d92cf9;
    position: absolute;
    font-size: 10px;
    left: -14.5%;
    z-index: 1;
}
.timeline-content h4.title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.timeline-content h5 {
    color: #636a82;
    font-size: 14px;
    font-weight: 300;
    margin: 18px 0 20px;
}
.main-timeline .description {
    font-size: 14px;
    color: #999fb3;
}
.main-timeline .timeline-content.right{
    float: right;
    text-align: left;
}
.timeline-single-before:before {
    content: '';
    top: 57px;
    left: -3px;
    position: absolute;
    width: 100%;
    height:400px;
    border-left:15px solid #fff;
}

.experience-time-responsive{display: none;}



/*--------------------*/
/* EDUCATION */
/*--------------------*/


#mu-portfolio {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-portfolio-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-portfolio-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-heading-title {
	color: #0f0a0a;
	margin-bottom: 15px;
	position: relative;
}

.mu-header-dot {
	border-radius: 0;
	height: 3px;
	width: 75px;
	display: inline-block;
	margin-bottom: 20px;
}

.education {
    padding-top:  50px;
}
.education-horizontal-timeline {
    padding: 80px 0;
}

/*.education-horizontal-timeline*/
.education-horizontal-timeline .col-sm-4 {padding:0 2px;}

.single-horizontal-timeline .experience-time h3{text-transform: capitalize;}
.single-horizontal-timeline .experience-time h3 span{text-transform:lowercase;}
.single-horizontal-timeline .timeline-content h5 {margin: 15px 0;}
.single-horizontal-timeline p {color: #999fb3;max-width: 335px;}

/*.timeline-horizontal-border*/
.timeline-horizontal-border {
    display:  flex;
    align-items: center;
    padding: 26px 0 30px;
}
.timeline-horizontal-border i {
    font-size:  10px;
    color: #d92cf9;
    margin-right:  5px;
}
span.single-timeline-horizontal {
    display:  inline-block;
    background: #b2c1ce;
    height:  1px;
    width: 380px;
}
span.single-timeline-horizontal.spacial-horizontal-line {width: 88px;}
/*.timeline-horizontal-border*/

/*.education-horizontal-timeline*/


/* Filter controls */

.mu-simplefilter {
	text-align: center;
}

.mu-simplefilter li {
	color: #555;
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	margin: 0 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}

.mu-simplefilter li:hover,
.mu-simplefilter li.active {
    border-color: #fff;
}


/*--------------------*/
/* TESTIMONIALS */
/*--------------------*/

#mu-testimonials {
	background-image: url("background.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#mu-testimonials::before {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.84;
}

.mu-testimonials-area {
	display: inline;
	float: left;
	padding: 150px 0 210px;
	width: 100%;
}

.mu-testimonial-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-testimonials-area h2 {
	color: #fff;
	text-align: center;
}

.mu-testimonials-block {
	display: inline;
	float: left;
	margin-top: 60px;
	width: 100%;
}

.mu-testimonial-slide li{
	list-style: none;
	text-align: center;
}

.mu-testimonial-slide li.slick-slide {
	padding: 0 100px;
}

.mu-testimonial-slide li .mu-quote-icon {
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-bottom: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.mu-testimonial-slide li p{
	color: #fff;
	font-size: 16px;
}

.mu-ct-name {
	 margin-bottom: 5px; 
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
	margin-top: 30px;
}

.mu-ct-title {
	color: #fff;
	font-size: 14px;
}

.mu-testimonial-slide .slick-dots {
    bottom: -70px;
}

.mu-testimonial-slide .slick-dots li {
	height: 12px;
	width: 12px;
}

.mu-testimonial-slide .slick-dots li button {
	background-color: #fff;
	border-radius: 50%;
	height: 10px;
	padding: 0;
	width: 10px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
	height: 12px;
	width: 12px;
}

.mu-testimonial-slide .slick-dots li button::before {
	display: none;
}


.mu-primary-btn {
	background-color: transparent;
	border-radius: 4px;
	border: 2px solid #ffffff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.5px;
	padding: 20px 35px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-center-resume-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);;
  color: #fff;
}


/*--------------------*/
/* CONTACT */
/*--------------------*/

#mu-contact {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-contact-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	padding: 0 120px;
}

.contact {
    background: #f9fbfd;
    padding: 50px 0 100px;
}
.single-contact-box {padding-top: 100px;}
.contact-form  .form-group {
    margin-bottom: 20px;
    
}
.contact-form .form-control {
    padding: 25px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 0px;
    box-shadow: none;
    outline: 0!important;
    background: #fff;
    color: #636a82;
    resize: none;
}

/*--contct button--*/
.contact-form .single-contact-btn {
    display:flex;
    align-items:center;
    justify-content:center;
    height:50px;
    text-transform:capitalize;
    margin-top: 3px;
    background: #b636ff;
    border: 1px solid #b636ff;
    cursor:pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
     -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}
.contact-form .single-contact-btn .contact-btn ,
.contact-form .single-contact-btn .contact-btn:focus {
    margin-top:0px;
    outline: 0 !important;
    border:0;
    color: #fff;
    border-radius: 0px;
    font-size:14px;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
    
}
.single-contact-btn:hover{
    background: #9f00ff;
    border: 1px solid #9f00ff;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

/*--contct button--*/

/* contact-adress */
.contact-add-head h3 {
    font-size:  24px;
    color:  #3c4258;
}
.contact-add-head p {
    font-size:  16px;
    text-transform: capitalize;
    color:  #636a82;
    font-weight:  300;
    margin-top:  6px;
}
/* contact-adress */

/*.contact-add-info */
.contact-add-info { margin: 42px 0 52px;}
.single-contact-add-info h3 {
    color:  #636a82;
    font-weight:  500;
}
.single-contact-add-info p {
    color:  #999fb3;
    font-size:  16px;
    margin-top:  18px;
}
.single-contact-add-info {
    margin-bottom:  26px;
}
/*.contact-add-info */

/*hm-foot-icon*/
/*.hm-foot-icon {
   
}*/
.hm-foot-icon ul li{float:left;}
.hm-foot-icon ul li>a {
    color: #636a82;
    margin-right:18px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.hm-foot-icon ul li>a:hover{
    color: #b636ff;
}/*hm-foot-icon*/

.hm-footer-copyright p{
    color: #888ea5;
    text-transform: capitalize;
    padding: 38px 0;
}
.hm-footer-copyright p a {color: #888ea5;}
/*===============================
    Scroll Top
===============================*/
#scroll-Top  .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background:#b636ff;
	border:1px solid #b636ff;
	border-radius:50%;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	z-index: 2;
}
#scroll-Top  .return-to-top:hover {
    background:#fff;
    color: #b636ff;
	border:1px solid #b636ff;
}

#scroll-Top  .return-to-top i{
    position:relative;
    bottom:0;

}

#scroll-Top  .return-to-top i{
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration:1s;
}
@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}


/*--------------------*/
/* FOOTER */
/*--------------------*/


#mu-footer {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-copy-right {
	margin-bottom: 0;
}

.mu-copy-right a {
	font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}



/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {

	.navbar-brand img {
		width: 145px;
		margin-top: -10px;
	}

	.navbar-default .mu-menu li a {
		margin: 10px 12px 5px;
	}

	.mu-about-content-right {
		margin-top: 0;
	}

	.mu-skill-progress-bar h3 {
		margin-top: 0;
	}

	
}

@media (max-width: 991px) {
	
	.navbar-default .mu-menu li a {
		font-size: 14px;
		margin: 10px 5px;
	}	

	.mu-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.mu-simplefilter li{
		margin-bottom: 10px;
	}

	.mu-about-header,
	.mu-service-header,
	.mu-contact-header {
		padding: 0;
	}
	 
	.mu-featured-area {
		padding: 28% 5%;
	}

	.mu-about-content-left img{
		width: 100%;
	}

	.mu-about-content-right {
		margin-top: 50px;
	}

	.mu-filter-item-content {
		padding-top: 18%;
	}

	.filtr-item h4 {
		font-size: 16px;
	}

	.mu-testimonial-slide li.slick-slide,
	.mu-contact-content {
		padding: 0 50px;
	}

		
}

@media (max-width: 767px) {
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		background-color: rgba(0,0,0,0.8);
		text-align: center;
	}

	.navbar-default .mu-menu li a {
		display: inline-block;
	}

	.mu-team-content .row > div {
		width: 49.5%;
		float: left;
	}

	.mu-testimonial-slide li {
		padding: 0 15px;
	}

	.mu-filter-item-content {
		padding-top: 25%;
	}

	.mu-contact-top-single {
		margin-bottom: 25px;
	}
	
		
}


@media (max-width: 640px){

	#mu-header.mu-fixed-nav {
		padding: 10px 0;
	}
	
	.mu-featured-slider-content {
		left: 0;
		right: 0;
		bottom: 0;
		top: 30%;
		padding: 0 10px;
	}

	.mu-featured-slider-content h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.mu-featured-slider-content p {
		font-size: 12px;
	}

	.mu-primary-btn {
		font-size: 12px;
		padding: 10px 12px;
		margin-top: 15px;
	}

	.slick-dots {
		bottom: 15px;
	}
			

}


@media (max-width: 480px) {

	#mu-header {
		padding: 10px 0;
	}

	.navbar-default .navbar-brand, 
	.navbar-default .navbar-brand:hover, 
	.navbar-default .navbar-brand:focus {
		font-size: 25px;
		margin-top: 0px;
	}

	.navbar-toggle {
		padding: 7px 8px;
	}

	.navbar-toggle .icon-bar {
		width: 18px;
	}

	h2{
		font-size: 25px;
	}

	.mu-heading-title {
		margin-bottom: 10px;
	}

	.mu-about-content-single h4 {
		margin-bottom: 18px;
	}

	.mu-simplefilter li {
		padding: 1rem 1.3rem;
		font-size: 14px;
	}

	.mu-team-social-info a {
		width: 35px;
		height: 35px;
		font-size: 16px;
		line-height: 35px;
	}

	.mu-contact-form button {
		width: 100%;
	}

	.filtr-item h4 {
		font-size: 14px;
	}

	.mu-featured-area h1 {
		font-size: 40px;
	}

	.mu-featured-slider p, 
	#typed,
	#typed span {
		font-size: 18px;
	}

	.mu-featured-content p {
		font-size: 14px;
	}

	.mu-filter-item-content {
		padding-top: 20%;
	}

	.mu-featured-area {
		padding: 20% 5%;
	}

				
	
}


@media (max-width: 360px){

	.mu-featured-slider-content {
		top: 49%;
	}

	.mu-featured-slider-content p,
	.mu-featured-slider-content .mu-primary-btn {
		display: none;
	}

	.mu-featured-slider-content h2 {
		font-size: 18px;
		margin-bottom: 0;
	}

	.mu-filter-item-content {
		padding-top: 25%;
		padding-left: 5px;
		padding-right: 5px;
	}

	.filtr-item h4 {
		font-size: 12px;
	}

	.mu-team-content .row > div {
		width: 100%;
	}

	.mu-simplefilter li {
		padding: 1rem 1rem;
		font-size: 12px;
	}

	.mu-portfolio-content .col-xs-6 {
		width: 100%;
	}

	.mu-testimonial-slide li.slick-slide, 
	.mu-contact-content {
		padding: 0;
	}
	
}

@media screen and (max-width:1199px){
	.timeline-content span>i, .experience-time span>i {left: -15.5%;}
}/*max-width:1199px*/



@media (max-width: 320px){
	
	
	
	
	
}

